* {
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    color: #2e3349;
}

body {
    background-color: #19a1ae;
    overflow: hidden;
}


.beeg-circle-1, .beeg-circle-2 {
    height: 622px;
    width: 622px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    background: rgb(9, 137, 180);
}

.beeg-circle-1 {
    background: linear-gradient(
        115deg,
        rgba(9, 137, 180, 0) 0%,
        rgba(83, 255, 238, 1) 100%
    );
    top: 50%;
    left: 50%;
}

.beeg-circle-2 {
    background: linear-gradient(
        10deg,
        rgba(9, 137, 180, 0) 0%,
        rgba(83, 255, 238, 1) 100%
    );
    bottom: 50%;
    right: 50%;
}

.card-container {
    margin: 30vh auto 0 auto;
    height: fit-content;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 15px;
    z-index: 1;
    box-shadow: 0 50px 100px -20px #08465E80;
}

.top-bar {
    height: 140px;
    width: 326px;
    border-radius: 15px 15px 0 0;
    background-color: #41cbd3;
}

.profile-pic {
    border-radius: 50%;
    height: 96px;
    width: 96px;
    position: relative;
    bottom: 48px;
    left: 115px;
}

.profile-info {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.profile-name {
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 1.5rem;
}

.profile-age {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    color: #6b7082;
    font-weight: 400;
}

.location {
    text-transform: capitalize;
    color: #6b7082;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

.profile-footer {
    border-top: 1px solid #e8e9ec;
    display: flex;
    justify-content: space-evenly;
}

.ovals {
    width: fit-content;
}

.footbox {
    text-align: center;
}

.footer-counter {
    text-transform: uppercase;
    font-weight: 700;
    margin: 24px 0 0 0;
}

.footer-descriptor {
    text-transform: capitalize;
    color: #6b7082;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1.5px;
    margin: 9px 0 24px 0;
}

@media (min-width: 768px) {
    .top-bar {
        width: 350px;
    }

    .beeg-circle-1 {
        height: 978px;
        width: 978px;
    }

    .beeg-circle-2 {
        height: 978px;
        width: 978px;
    }
    .ovals {
        width: 350px;
    }
    .profile-pic {
        bottom: 40px;
        left: 128px;
    }
}
